<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <form action="<%= task ? '/task/' + task.id + '/edit' : '/task/create' %>"  method="post">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= task ? task.name : '' %>">

            <label for="duree">Duree</label>
            <input type="text" name="duree" value="<%= task ? task.duree : '' %>">

            <input type="submit" value="<%= task ? 'Update' : 'Create' %>">
        </form>
    </body>
</html>